.search {
    position: absolute;
    width: 631px;
    height: 52px;
    left: 226px;
    top: 209px;

    background: #5A5C66;
}

.searchIcon {
    position: absolute;
    width: 21px;
    height: 21px;
    left: 812px;
    top: 224px;

}


.inputSearch {
    position: absolute;
    background: #5a5c66;
    width: 600px;
    height: 52px;

}

::placeholder {
    position: absolute;
    width: 41px;
    height: 19px;
    left: 4px;
    top: 17px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 137.69%;
    /* or 19px */


    color: #B3B7BF;
}

.tableHeader {
    position: absolute;
    width: 1077px;
    height: 54px;
    left: 226px;
    top: 276px;
    background: #474955;
    box-shadow: 0px 4px 27px rgba(230, 231, 234, 0.78);
}

.headerText{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 137.69%;
    color: #FFFFFF !important;
}
.button{
    position: absolute;
    height: 19px;
    top: 295px;
    padding: 0px !important;
    background-color: rgba(0,0,0,0);
    border: none;
    cursor: pointer;
}

.id {
    width: max-content;
    left: 249px;
}

.title {
    width: max-content;
    left: 465px;
}

.description {
    width: max-content;
    left: 991px; 
}

.arrow{
    position: sticky;
    margin-left: 5px;
    margin-right: 5px;
    right: 0px;
} 
i {
    position: absolute;
    height: 0px;
    border: solid #FFFFFF;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.back {
    position: absolute;
    width: 71px;
    height: 33px;
    left: 267px;
    top: 961px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 137.69%;
    /* identical to box height, or 33px */


    color: #474955;
}

.next {
    position: absolute;
    width: 71px;
    height: 33px;
    left: 1206px;
    top: 961px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 137.69%;
    /* identical to box height, or 33px */


    color: #474955;
}

.number {
    position: absolute;
    --width: max-content;
    height: 25px;
    left: 713px;
    top: 969px;

    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    font-size: 18px;
    line-height: 137.69%;
    /* identical to box height, or 25px */

    color: #474955;
}

.numberColor{
    color: #7EBC3C;
}

.tableRow {
    position: absolute;
    width: 1079px;
    height: 0px;
    left: 224px;
    top: 330px;

    border-collapse: collapse;

    border: 1px solid #E3E6EC;
}

td.text {
    text-align: left;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 137.69%;
    color: #474955;
    padding: 10px;
    border: 1px solid #E3E6EC;
}
.idTd{
    width: 50px;
    text-align: center !important;
}
span {
    padding: 10px;
}